body{
    font-family: 'PT Serif', serif, Arial,sans-serif;
    margin: 0 auto;
}

#today{
    float:right;
}

.navbar-brand{
    font-family: 'Playfair Display', serif;
    color: #FAFDAF !important;
}

.TickersInfo{
    /*display: inline-block;*/
    margin: 0 auto;
}
.TickersInfo table{
    border-collapse: collapse;
}
.TickersInfo table tr.head{
    text-align: center;
    color: #9C9898;
}
td{
    border-bottom: 1px solid #DAD1D1;
    padding:5px;
}
td.counter{
    font-size: 14px;
}
tr:hover{
    /*background-color: rgba(236, 248, 236, 0.34);*/
}

a.upload{
    font-size: 11px;
    text-decoration: none;
}
a.upload:hover{
    text-decoration: underline;
}

tr.row_ticker_select{
    background-color: #D6F3CE;
}

.user-menu{
   background-color: #999999;
}

.main-content{
    width: 980px;
    margin: 0 auto;
}

.head-part{
    margin-bottom: 20px;
}

.navbar-inverse{
    text-align: center;
    border-color: #394E6F !important;
}

.navbar-header{
    display: inline-block;
    float: none !important;
}

.update-table{
    text-align: center;
    background-color: #f5f5f5;
    height: 30px;
    padding: 3px;
}
.update-table:hover{
    background-color: #DBD9D9;
    cursor: pointer;
}

.update-preloader{
    display: none;
    text-align: center;
}

div.select_cat{
    margin-bottom: 20px;
}
.upload-data{
    margin-bottom: 20px;
}
.parsing-data{
    margin-bottom: 20px;
}
.textarea-block textarea{
    width: 400px;
    height: 250px;
}

.navbar-inverse {
    background-color: rgba(76, 99, 121, 1) !important;
}